name: Check for git secrets with Gitleaks
on:
  pull_request:
    branches:
      - main
jobs:
  scan:
    name: gitleaks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b # v4
        with:
          fetch-depth: 0
      - uses: gitleaks/gitleaks-action@e6dab246340401bf53eec993b8f05aebe80ac636 # v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
