name: gitleaks
on: 
  pull_request:
    branches:
      - main
jobs:
  scan:
    name: gitleaks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
        with:
          fetch-depth: 0
      - uses: gitleaks/gitleaks-action@e6dab246340401bf53eec993b8f05aebe80ac636 # v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
